<div class="docs">
    <section style="background-color: var(--primary); padding: 3rem;">
        <h1 style="margin: 0; text-align: center; font-size: 2.5rem;"> Documentation </h1>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
    <section>
        <h2>Hello World, from Phoenix!</h2>
    </section>
</div>