@import url('./reset.css');
@import url('./colors.css');
@import url('./variables.css');

/* Components. */
@import url('./components/nav.css');
@import url('./components/header.css');
@import url('./components/features.css');
@import url('./components/footer.css');

/* Fonts. */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/jetbrains-mono/jetbrains-mono-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Audiowide';
    src: url('/fonts/audiowide/audiowide-regular.ttf') format('truetype');
}

/* Icons. */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 1.25em !important;
}

html {
    scroll-padding-top: 1.8rem;
}

body {
    margin: 0 auto;
    font-size: 16px;
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--primary);
}