@import url('./reset.css');
@import url('./colors.css');

/* Components. */
@import url('./components/nav.css');
@import url('./components/header.css');

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/jetbrains-mono/variable.ttf') format('truetype');
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'JetBrains Mono', monospace;
}