main.features {
    margin: 0 auto;
    padding-block: 3em;
    color: var(--text-on-secondary);
    background-color: var(--secondary);
    padding-inline: var(--content-inline-padding-desktop);
}

main.features section {
    display: grid;
    margin: 0 auto;
    column-gap: 5em;
    padding-block: 1em;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    max-width: var(--content-width);
}

main.features section:first-child {
    padding-block-start: 0em;
}

main.features section:last-child {
    padding-block-end: 0em;
}

main.features section:nth-child(odd) article {
    width: 100%;
}

main.features section:nth-child(odd) article {
    order: -1;
}

main.features section:nth-child(even) article {
    order: 1;
}

main.features section h4 {
    margin: 0;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    column-gap: 0.25em;
}

main.features section article ul {
    list-style-type: square;
}

@media (max-width: 576px) {
    main.features {
        padding-inline: var(--content-inline-padding-mobile);
    }
}

@media (max-width: 1200px) {
    main.features section h4 {
        justify-content: center;
    }

    main.features section {
        justify-items: center;
        grid-template-columns: 1fr;
    }

    main.features section:nth-child(even) article {
        order: -1;
    }
}