header.hero {
    display: flex;
    margin: 0 auto;
    padding-block: 5em;
    flex-direction: column;
    justify-content: center;
    color: var(--text-on-primary);
    max-width: var(--content-width);
    padding-inline: var(--content-inline-padding-desktop);
}

header.hero h1 {
    line-height: 155%;
    font-size: clamp(3em, 10vw, 5em);
    font-family: 'Audiowide', monospace;
}

header.hero h2 {
    font-size: clamp(1em, 7vw, 1.5em);
}

header.hero p {
    font-size: 1em;
}

header div.ctas {
    display: flex;
    margin-top: 24px;
    row-gap: 12px;
    column-gap: 12px;
    flex-wrap: wrap;
}

header a.cta {
    font-size: 1.15rem;
    padding-block: 0.5em;
    padding-inline: 1em;
    border-style: none;
    text-decoration: none;
    transition: filter 0.2s ease-in-out;
    display: flex;
    align-items: center;
    column-gap: 0.25em;
}

header a.cta:hover {
    filter: brightness(125%);
}

header a.cta:active {
    filter: brightness(90%);
}

header a.cta:focus {
    outline: #66639e solid 3px;
}

header a.cta.primary {
    background-color: #4336DC;
    color: var(--text-on-primary);
}

header a.cta.secondary {
    background-color: var(--secondary);
    color: var(--text-on-secondary);
}

@media (max-width: 576px) {
    header.hero {
        padding-inline: var(--content-inline-padding-mobile);
    }

    header a.cta {
        width: 100%;
    }
}