nav.menu {
    width: 100%;
    display: block;
    position: fixed;
    color: var(--text-on-secondary);
    background-color: var(--secondary);
}

nav.menu ul {
    width: 100%;
    display: flex;
    margin: 0 auto;
    list-style: none;
    column-gap: 1.25em;
    padding-inline: 5em;
    padding-block: 1.5em;
    align-items: flex-end;
    justify-content: flex-end;
    max-width: var(--content-width);
}

nav.menu ul li a {
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    transition: text-decoration-color 0.3s ease-in-out, color 0.3s ease-in-out;
    ;
}

nav.menu ul li a:hover {
    color: #FFFFFA;
    text-decoration-color: #FFFFFA;
}