nav.menu {
    width: 100%;
    z-index: 100;
    display: block;
    position: fixed;
    color: var(--text-on-secondary);
    background-color: var(--secondary);
    border-bottom: 1px solid var(--primary);
    min-height: 5rem;
}

nav.menu ul {
    width: 100%;
    display: flex;
    margin: 0 auto;
    list-style: none;
    column-gap: 0.75em;
    padding-inline: 5em;
    padding-block: 1.5em;
    align-items: flex-end;
    justify-content: flex-end;
    max-width: var(--content-width);
}

nav.menu ul li a {
    padding: 4px 8px;
    text-decoration: none;
}

nav.menu ul li.brand a {
    padding-left: 0;
}

nav.menu ul li.active:not(.brand) a {
    font-weight: bold;
    color: var(--secondary);
    background-color: var(--text-on-secondary);
}

nav.menu ul li a:hover {
    /* text-decoration-color: #FFFFFA; */
}

nav.menu>label[for="menu-toggle"] {
    width: 3em;
    height: 3em;
    float: right;
    display: none;
    cursor: pointer;
    align-items: center;
    margin: 0.75em 0.75em;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--primary);
    background-color: var(--secondary);
    transition: filter 0.3s ease-in-out;
}

nav.menu>label[for="menu-toggle"]:hover {
    filter: brightness(125%);
}

nav.menu>label[for="menu-toggle"] span {
    font-size: 2.5em !important;
    user-select: none;

}

nav.menu>input[type="checkbox"] {
    display: none;
}

@media (min-width: 576px) {
    nav.menu ul li.brand {
        flex-grow: 1;
        font-weight: bold;
    }

    nav.menu ul li.brand a {
        text-decoration: none;
        text-decoration-color: transparent;
    }

    nav.menu ul li.brand a::before {
        content: ">_ NetBots";
        text-transform: uppercase;
        font-family: 'Audiowide';
        padding: 2px 6px;
        background-color: #bfcde0;
        color: var(--secondary);
        margin-right: 0.5rem;
        transition: background-color 0.3s ease-in-out;
    }

    nav.menu ul li.brand a:hover::before {
        background-color: #FFFFFF;
    }
}

@media (max-width: 768px) {
    nav.menu ul li.brand a::before {
        content: ">_";
    }
}

@media (max-width: 576px) {
    nav.menu ul li.brand a {
        padding-left: 1em;
    }

    nav.menu ul li.brand a::before {
        content: "Home";
    }

    nav.menu ul {
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    nav.menu ul li {
        padding: 0;
        width: 100%;
        border-top: 1px solid var(--primary);
    }

    nav.menu ul li a {
        width: 100%;
        padding: 1em;
        display: block;
        text-decoration: none;
        background-color: #4436dc68;
        transition: filter 0.3s ease-in-out;
    }

    nav.menu ul li a:hover {
        filter: brightness(125%);
    }

    nav.menu ul li a:active {
        filter: brightness(95%);
    }

    nav.menu ul li.active a {
        font-weight: bold;
        color: var(--secondary);
        background-color: var(--text-on-primary);
    }

    nav.menu ul li.separator {
        display: none;
    }

    nav.menu>label[for="menu-toggle"] {
        display: flex;
    }

    nav.menu label span[menu-action="open"] {
        display: block;
    }

    nav.menu label span[menu-action="close"] {
        display: none;
    }

    nav.menu>input[type="checkbox"]:checked~label span[menu-action="open"] {
        display: none;
    }

    nav.menu>input[type="checkbox"]:checked~label span[menu-action="close"] {
        display: block;
    }

    nav.menu>input:not(:checked)~ul li {
        display: none;
    }
}